<!DOCTYPE html>
<html
  lang="en"
  style="
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasil Tes Minat Bakat</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #fcfcfd;
      }
      .container {
        max-width: 600px;
        margin: 24px auto;
        background: linear-gradient(
          to bottom,
          #ffffff 0%,
          #ffffff 50%,
          #fcfcfd 50%,
          #fcfcfd 100%
        );
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
        padding: 20px;
      }
      .recommendation-table {
        width: 100%;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
      }
      .recommendation-table-header {
        background-color: #e74646;
        color: white;
        font-weight: bold;
      }
      .recommendation-table-header th {
        text-align: left;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
      }
      .recommendation-table-body tr td {
        text-align: left;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        font-weight: bold;
        color: #282828;
      }
      .recommendation-table-body tr a {
        text-align: left;
        font-weight: normal;
        color: #e74646;
        font-size: 14px;
      }
      .recommendation-table-body tr:nth-child(odd) {
        background-color: #ffffff !important;
      }

      .recommendation-table-body tr:nth-child(even) {
        background-color: #f0f0f0 !important;
      }
      .header {
        text-align: center;
      }
      .header h1 {
        margin: 0;
        font-size: 18px;
        color: #282828;
      }
      .logo-container .logo {
        width: 100px;
        margin-left: 0;
      }
      .logo-container {
        display: flex;
        margin-bottom: 24px;
      }
      .result-container {
        border: 1px solid #d9d9d9;
        margin-top: 16px;
        border-radius: 16px;
      }
      .naration-container {
        padding: 16px;
        background-color: #ffe3e6;
        border-radius: 16px;
      }
      .naration-container p {
        color: #282828;
        margin: 0;
        padding: 0;
        margin-top: 16px;
        text-align: justify;
      }
      .naration-container h1 {
        color: #282828;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 24px;
      }
      .content {
        padding: 16px;
      }
      .content h2 {
        font-size: 24px;
        margin: 0 0 0;
        padding-bottom: 0 !important;
        text-align: center;
        color: #282828;
      }
      .content p {
        padding: 0;
        margin: 0;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
      .alert {
        background-color: #ffe3e6;
        border: 1px solid #f0f0f0;
        border-radius: 8px;
        display: flex;
        gap: 8px;
        color: #e74646;
        font-weight: 500;
        font-size: 14px;
        align-items: center;
        padding: 8px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 12px;
      }
      .naration-image {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 8px;
      }
      .naration-image img {
        width: 100%;
        max-width: 8rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-container">
          <img
            class="logo"
            src="https://telkom-psikotes.vercel.app/img/logo/logo.png"
            alt="logo"
          />
        </div>
        <h1>
          Hai {{name}}, berikut adalah hasil tes minat bakat dan rekomendasi
          jurusan Anda.
        </h1>
      </div>
      <div class="result-container">
        <div class="naration-container">
          <div class="naration-image">
            <img
              alt="selfie"
              src="https://telkom-psikotes.vercel.app/img/illust/selfie.webp"
            />
          </div>
          <div>
            <h1>Hasil Tes Minat Bakat</h1>
            <p>{{naration}}</p>
          </div>
        </div>
        <div class="content">
          <h2>Rekomendasi Jurusan</h2>
          <p>
            Kami sudah mengidentifikasi kekuatan kamu dan beberapa pilihan
            jurusan berikut ini adalah yang sesuai dengan minat dan kepribadian
            kamu Mari wujudkan masa depan dan kariermu bersama Telkom
            University! Sampai jumpa di kampus!
          </p>
          <table class="recommendation-table">
            <thead class="recommendation-table-header">
              <tr>
                <th>Jurusan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody class="recommendation-table-body">
              {{#each suggestMajor}}
              <tr>
                <td style="width: 50%">{{name}}</td>
                <td style="width: 50%">
                  <a href="{{url}}" target="_blank"
                    >Lihat Jurusan Selengkapnya &rarr;</a
                  >
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="alert">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#E74646"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-circle-alert"
            >
              <circle cx="12" cy="12" r="10" />
              <line x1="12" x2="12" y1="8" y2="12" />
              <line x1="12" x2="12.01" y1="16" y2="16" />
            </svg>
            <span>
              Hasil tes minat bakatmu sudah kami kirim ke email kamu, lho!
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>